body
{
background-color: coral;
}

div{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.metal {
    width: 325px;
    height: 325px;
    background: linear-gradient(to top, grey 0%, white 100%);
    border-radius: 100%;
    position: absolute;
    box-sizing: border-box;
    margin-left: 87.5px;
    margin-top: 87.5px;
}
.vertical{
    position: absolute;
    width: 2px;
    height: 300px;
    background-color: black;
    z-index: 12px;
}
.horizontal{
    position: absolute;
    height: 2px;
    width: 300px;
    background-color: black;
    z-index: 12px;

}

.padre{
position: absolute;
background-color: red;
    width: 300px;
    height: 300px;
    margin: 100px; 
   
      
}
.hijo{
    position: absolute;
}

.hijo:nth-child(odd){
    background-color: white;
   
}
.hijo:nth-child(even){
    background-color: red;
} 
.hijo-1
{
    z-index: 1px;
    width: 275px;
    height: 275px;
}
.hijo-2
{
    width: 250px;
    height: 250px;
    z-index: 2px;
}
.hijo-3
{
    width: 225px;
    height: 225px;
    z-index: 3px;
}
.hijo-4
{
    width: 200px;
    height: 200px;
    z-index: 4px;
}
.hijo-5
{
    width: 175px;
    height: 175px;
    z-index: 5px;
}
.hijo-6
{
    width: 150px;
    height: 150px;
    z-index: 6px;
}
.hijo-7
{
    width: 125px;
    height: 125px;
    z-index: 7px;
}
.hijo-8
{
    width: 100px;
    height: 100px;
    z-index: 8px;
}

.hijo-9
{
    width: 75px;
    height: 75px;
    z-index: 9px;
}

.hijo-10
{
    width: 50px;
    height: 50px;
    z-index: 10px;
}
.hijo-11
{
    width: 25px;
    height: 25px;
    z-index: 11px;
}