body{
    margin: 0px;
}
.square{

    width: 100vw;
    height: 15vh;
    margin: 1px;

}
article{
    clear: both;
}
.orange{
background-color: orange;
}
.blue{
background-color: lightblue;
}
.lime{
background-color: lightgreen;

}
.grey{
background-color: lightgrey;
}

@media (width < 768px ){ 
    .orange{
        float: left;
        width: 48vw;

    }
    .blue{
        float: left;
        width: 33vw;
    }
    .grey{
        float: left;
        width: 24vw;
    }
}

@media (768px <= width <= 1024px){
    .grey{
        float: left;
        width: 48vw;
    }

}