*{
    background-color:darksalmon;
    margin: 0;
    padding: 0;
}
p{
    column-count: 3;
    column-gap: 40px;
    column-rule: solid 2px red
}

h1 span:hover
{
    color: aqua;
}

::selection {
    background-color: yellow;
  }